<template>
  <div class="container">
    <v-chart
      class="chart mx-auto"
      :option="option"
    />
  </div>
</template>

<script>
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { BarChart } from 'echarts/charts'
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent
  , GridComponent
} from 'echarts/components'

import VChart, { THEME_KEY } from 'vue-echarts'
import generateSeries from '../helpers/generateSeriesDesktop'

use([
  CanvasRenderer,
  BarChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent
])

export default {
  name: 'DesktopBar',
  components: {
    VChart
  },
  provide: {
    [THEME_KEY]: 'light'
  },
  methods: {
    generateSeries,
    onRadioChange () {
      this.option.series = this.generateSeries().series
    }
  },
  data () {
    return {
      option: {
        color: ['#cd93e1', '#aa66cc', '#6c4299', '#f5bc84', '#f09834',
          '#f09834', '#86b3f7', '#0166cc'],
        grid: {
          y: 120
        },
        xAxis: [{
          data: ['Maio', 'Junho', 'Julho'],
          axisLine: {
            show: false
          },
          axisTick: { show: false },
          type: 'category'
        }],
        yAxis: {
          type: 'value'
        },
        title: {
          text: 'Histórico de Consumo',
          left: 'center',
          padding: [0, 0, 0, 30]
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          orient: 'vertical',
          height: '80',
          left: 50,
          top: 30,
          data: [
            'Ligações para celular',
            'Ligações para longa distância',
            'Bonus de minutos grátis',
            'Franquia proporcional de minutos',
            'Favoritos celular',
            'Números (?)',
            'DDI'
          ]
        },
        ...this.generateSeries()
      }
    }
  }
}
</script>

<style scoped>
.chart {
  height: 600px;
  width: 700px;
}
</style>
