<template>
  <div class="container">
    <component
      :is="isMobile? 'MobileBar' : 'DesktopBar'"
    />
  </div>
</template>

<script>

import DesktopBar from './DesktopBar'
import MobileBar from './MobileBar'
import displayEcharts from '../mixins/displayEcharts.mixin'

export default {
  name: 'HelloWorld',
  components: {
    MobileBar,
    DesktopBar
  },
  mixins: [displayEcharts]
}
</script>

<style scoped>
</style>
