<template>
  <div class="container">
    <!-- <b-form-group class="mx-auto"> -->
    <!-- <b-form-radio-group
      label
      v-model="option.xAxis.name"
      :options="['Maio', 'Junho']"
      class="d-inline-flex"
      @change="onRadioChange"
    /> -->
    <!-- </b-form-group> -->
    <v-chart
      class="chart mx-auto"
      :option="option"
    />
    <Pagination
      v-on:update:currentPage="onCurrentPageChange"
      :currentPage="option.xAxis.name"
      :content="['Maio', 'Junho', 'Julho']"
    />
  </div>
</template>

<script>
import { use } from 'echarts/core'
import { CanvasRenderer } from 'echarts/renderers'
import { BarChart } from 'echarts/charts'
import {
  TitleComponent,
  TooltipComponent,
  LegendComponent
  , GridComponent
} from 'echarts/components'

import VChart, { THEME_KEY } from 'vue-echarts'
import generateSeries from '../helpers/generateSeries'

import Pagination from './Pagination'

use([
  CanvasRenderer,
  BarChart,
  TitleComponent,
  TooltipComponent,
  LegendComponent,
  GridComponent
])

export default {
  name: 'MobileBar',
  components: {
    VChart,
    Pagination
  },
  provide: {
    [THEME_KEY]: 'light'
  },
  methods: {
    generateSeries,
    onRadioChange () {
      this.option.series = this.generateSeries().series
    },
    onCurrentPageChange (val) {
      this.option.xAxis.name = val
      this.option.series = this.generateSeries().series
    }
  },
  data () {
    return {
      option: {
        color: ['#cd93e1', '#aa66cc', '#6c4299', '#f5bc84', '#f09834',
          '#f09834', '#86b3f7', '#0166cc'],
        grid: {
          y: 60,
          y2: 220
        },
        xAxis: {
          axisLine: {
            show: false
          },
          name: 'Maio',
          nameLocation: 'center',
          nameTextStyle: {
            padding: [20, 0, 0, 0]
          },
          axisTick: { show: false },
          type: 'category'
        },
        yAxis: {
          type: 'value'
        },
        title: {
          text: 'Histórico de Consumo',
          left: 'center',
          padding: [0, 0, 0, 30]
        },
        tooltip: {
          trigger: 'item'
        },
        legend: {
          width: '375',
          orient: 'vertical',
          left: 'left',
          align: 'left',
          data: [
            'Ligações para celular',
            'Ligações para longa distância',
            'Bonus de minutos grátis',
            'Franquia proporcional de minutos',
            'Favoritos celular',
            'Números (?)',
            'DDI'
          ],
          top: 'bottom'
        },
        ...this.generateSeries()
      }
    }
  }
}
</script>

<style scoped>
.chart {
  height: 600px;
  width: 375px;
}
</style>
