<template>
  <div id="paginate">
    <div class="controls">
      <div
        class="prev"
        @click="prevPage()"
      >
        &lt;
      </div>
      <div class="dots">
        <div>&bull;</div>
      </div>
      <div
        class="next"
        @click="nextPage()"
      >
        &gt;
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    content: {
      type: Array,
      required: true,
      default: () => []
    },
    currentPage: {
      type: String,
      required: true
    }
  },

  computed: {
    page () {
      return this.content.indexOf(this.currentPage)
    }
  },

  methods: {
    nextPage () {
      if (this.content[this.page + 1]) this.$emit('update:currentPage', this.content[this.page + 1])
    },

    prevPage () {
      if (this.content[this.page - 1]) this.$emit('update:currentPage', this.content[this.page - 1])
    }
  }
}
</script>

<style>
.controls {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls div {
  margin: 0 10px;
  font-weight: 800;
  color: #609;
}
</style>
